@{
    ViewData["Title"] = "Home Page";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                   
                 
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content"><center>        <div class="container-fluid">
           <h2>Bienvenido Al Sistema De Inventario</h2>
            </div>
             <section class="content">
        <div class="container-fluid">
        </div>
         <section class="content">
        <div class="container-fluid">
            <img src="/img/logo1.png" />
           <h4>Auotores: Randy Adonis Letona Tobar y Andres Oswaldo Garcia Huezo</h4>
            </div>
         

                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section></center>

    <!-- /.content -->
</div>