@{
    ViewData["Title"] = "Home Page";
}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Editar Inventario</h1>
                 
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
           <h2>Bienvenido Al Sistema De Inventario</h2>
            </div>
                    <!-- /.card -->
                     <section class="content">
        <div class="container-fluid">
           <h2>Login</h2> <h2>Sign Up</h2>
            </div>
                     <section class="content">
        <div class="container-fluid">
           <h2>Auotores: Randy Adonis Letona Tobar y Andres Oswaldo Garcia Huezo</h2>
            </div>
         

                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>